<div class="layout">
  <div class="btn-group">
    <button class="add-btn" (click)="addList()" [ngStyle]="getButtonStyle()" [disabled]="!btnSwitch" >Add</button>
    <button class="save-btn" (click)="save()" [ngStyle]="getButtonStyle()" [disabled]="!btnSwitch" >Save</button>
    <button class="update-btn" (click)="getMember()">Update</button>
  </div>
  <form [formGroup]="validatorForm">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Birthday</th>
          <th>Salary</th>
          <th>Address</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody formArrayName="Data">
        <tr *ngFor="let formGroup of formArray.controls; let i = index" [formGroupName]="i">
          <td>{{i +1}}</td>
          <td>
            <input type="text" formControlName="Name">
          </td>
          <td>
            <input type="date" formControlName="DateOfBirth">
          </td>
          <td>
            <input type="range" min="0" max="100000" formControlName="Salary"><br>

            <span>薪水:{{formGroup.get('Salary')?.value}} NT</span>
          </td>
          <td>
            <input type="text" formControlName="Address">
          </td>
          <td>
            <button (click)="deleteItem(i)">刪除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

</div>
